<h1><%= item %></h1>

<p>The amount of calories in <%= item %> are: <%=details.calories %></p>
<p>The total fat value of <%= item %> is: <%=details.totalNutrients.FAT.quantity %> <%=details.totalNutrients.FAT.unit %></p>
<p>The total sugars value in <%= item %> are: <%=details.totalNutrients.SUGAR.quantity %> <%=details.totalNutrients.SUGAR.unit %></p>
<p>The total  value of carbohydrates in <%= item %> are: <%=details.totalNutrients.CHOCDF.quantity %> <%=details.totalNutrients.CHOCDF.unit %></p>





