<a href="/list/addItem" class="btn btn-success pull-right">Add Item</a>

<h1>My Family Grocery List</h1>

<% items.forEach(function(item) { %>
<div class="well">
    <h2><a href="/list/<%= item.itemName %>"><%= item.itemName %></a>
    <small><%= item.amount %></small>
    <!-- <small><%= item.userId %></small> -->
  </h2>
  <a href="/list/<%= item.itemName %>/edit" class="btn btn-info glyphicon glyphicon-edit"> Edit amount</a>
  <a href="/list" deleteUrl="/list/<%= item.itemName %>" class="btn btn-danger glyphicon glyphicon-trash delete-btn"></a>
  
</div>
<% }); %>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
</script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
 integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
 crossorigin="anonymous"></script>
<script>
  $('.delete-btn').on('click', function(e){
   // e.preventDefault();
   var deleteUrl =$(this).attr('deleteUrl');
    $.ajax({
      method: 'DELETE',
      url: deleteUrl
    }).done(function() {
        window.location.href = '/list';
    });
  });
</script>



