    
<a href="/list/<%=listId%>/share" class="btn btn-success pull-right">Share this list with another user</a>
<h1>My Family Grocery List <%=listId%></h1>
<h3>To see nutritions values for the items you are adding to the list, please write the items you are adding in plain english, whole word, singular</h3>
<a href="/item/addItem/<%=listId%>" class="btn btn-success">Add Item</a>

<% items.forEach(function(item) { %>
<div class="items">
    <h2><a href="/item/<%= item.itemName %>"><%= item.itemName %></a>
    <span><%= item.amount %></span>
  </h2>
  <a href="/item/edit/<%= item.itemName %>" class="btn btn-info glyphicon glyphicon-edit"> Edit amount</a>
  <a href="/list/<%=listId%>" deleteUrl="/item/<%=item.itemName%>" class="btn btn-danger glyphicon glyphicon-trash delete-btn"></a>
  
</div>
<% }); %>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
</script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
 integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
 crossorigin="anonymous"></script>
<script>
  $('.delete-btn').on('click', function(e){
   // e.preventDefault();
   var deleteUrl =$(this).attr('deleteUrl');
    $.ajax({
      method: 'DELETE',
      url: deleteUrl
    });
  });
</script>

<style>
  body {
  margin: 0;
  padding: 0;
  background: url(/img/background.jpg);
  background-size:cover;
  }
  h1, h3 {
  color: darkblue;
  }
  span {
  display: inline-block;
  margin-left: 30px;
  }
  .navbar-brand {
  margin-left: 50px;
  font-weight: bold;
}
</style>

